<center><h3 style="color:green">Importing Required Libraries</h3></center>

In [1]:
import pandas as pd
import joblib
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv(r"C:\Users\teja1\Downloads\MY2022 Fuel Consumption Ratings.csv")
df.head()

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating
0,2022,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,200,6,3
1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232,5,6
3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242,5,6
4,2022,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230,5,7

In [3]:
df.drop(columns=['Model Year','Fuel Consumption (City (L/100 km)','Fuel Consumption(Hwy (L/100 km))','Fuel Consumption(Comb (mpg))','CO2 Rating'],inplace=True)
# Drop unwanted columns

### Rename columns

In [4]:
l=["make","model","vehicle_class","engine","cylinder","transmission","fuel","consumption","co2","smokerating"]
df.rename(columns={i:j for i,j in zip(df.columns,l)},inplace=True)

### Seperated categorial and numberial data

In [5]:
qualititive = []
quantitive = []

for i in df.columns:
    if type(df[i].iloc[0]) == str:
        qualititive.append(i)
    else:
        quantitive.append(i)

In [6]:
print("The Qualitative data :\n {},\n The Quantitave data :\n {},\n".format(qualititive,quantitive))

The Qualitative data :
 ['make', 'model', 'vehicle_class', 'transmission', 'fuel'],
 The Quantitave data :
 ['engine', 'cylinder', 'consumption', 'co2', 'smokerating'],

### Preparing data

In [7]:
df=df[['make', 'model', 'vehicle_class', 'transmission', 'fuel','engine', 'cylinder', 'co2', 'smokerating', 'consumption']]

In [8]:
x = df.drop("consumption",axis=1)
y = df["consumption"]

In [9]:
x

,make,model,vehicle_class,transmission,fuel,engine,cylinder,co2,smokerating
0,Acura,ILX,Compact,AM8,Z,2.4,4,200,3
1,Acura,MDX SH-AWD,SUV: Small,AS10,Z,3.5,6,263,5
2,Acura,RDX SH-AWD,SUV: Small,AS10,Z,2.0,4,232,6
3,Acura,RDX SH-AWD A-SPEC,SUV: Small,AS10,Z,2.0,4,242,6
4,Acura,TLX SH-AWD,Compact,AS10,Z,2.0,4,230,7
...,...,...,...,...,...,...,...,...,...
941,Volvo,XC40 T5 AWD,SUV: Small,AS8,Z,2.0,4,219,5
942,Volvo,XC60 B5 AWD,SUV: Small,AS8,Z,2.0,4,219,5
943,Volvo,XC60 B6 AWD,SUV: Small,AS8,Z,2.0,4,232,7
944,Volvo,XC90 T5 AWD,SUV: Standard,AS8,Z,2.0,4,236,5
945,Volvo,XC90 T6 AWD,SUV: Standard,AS8,Z,2.0,4,252,7

In [10]:
y

0       8.6
1      11.2
2       9.9
3      10.3
4       9.8
       ...
941     9.4
942     9.4
943     9.9
944    10.1
945    10.8
Name: consumption, Length: 946, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.5,random_state=33)

In [13]:
x_train.shape,y_train.shape

((473, 9), (473,))

In [14]:
{i:x[i].nunique() for i in x.columns}

{'make': 39,
 'model': 715,
 'vehicle_class': 14,
 'transmission': 23,
 'fuel': 4,
 'engine': 36,
 'cylinder': 8,
 'co2': 242,
 'smokerating': 5}

In [15]:
{i:x_train[i].nunique() for i in x_train.columns}

{'make': 39,
 'model': 415,
 'vehicle_class': 14,
 'transmission': 22,
 'fuel': 4,
 'engine': 36,
 'cylinder': 7,
 'co2': 198,
 'smokerating': 5}

In [16]:
{i:x_test[i].nunique() for i in x_train.columns}

{'make': 38,
 'model': 404,
 'vehicle_class': 14,
 'transmission': 22,
 'fuel': 4,
 'engine': 33,
 'cylinder': 8,
 'co2': 196,
 'smokerating': 5}

In [17]:
for i in ["make","model"]:
    print("i :",set(x_train[i].values)-set(x_test[i].values))

i : {'FIAT'}
i : {'RDX SH-AWD', 'Cherokee 4X4 Active Drive Lock', 'QX60 AWD', '500X AWD', 'AMG E 53 4MATIC+ Sedan', 'Tacoma 4WD D-Cab TRD Off-Road/PRO', 'S 580 4MATIC LWB Sedan', 'F-150 Hybrid 4X4', 'Altima AWD', 'RC F', 'Defender 90 5.0L V8', 'Sportage AWD', 'Versa', 'S60 B5 AWD', 'Trailblazer', 'Vantage V8', 'Charger Widebody (MDS)', 'Sienna AWD', 'Tundra 4WD', '911 Carrera', 'Panamera 4S', 'Gladiator 4X4', 'F-TYPE P450 Coupe AWD', 'F-150 Raptor 37 4X4 (Without Stop-Start)', 'Impreza 4-Door AWD', 'RDX SH-AWD A-SPEC', 'Cayenne S', 'Wagoneer 4X4', 'AMG E 53 4MATIC+ Cabriolet', 'Kicks', 'Qashqai AWD', 'Cullinan Black Badge', 'AMG GLE 53 4MATIC+ SUV', 'Tucson', 'Sentra SR', 'Wrangler JL Unlimited 4X4 eTorque', 'Traverse AWD', 'Accord Hybrid', 'Panamera', 'CLS 450 4MATIC Coupe', 'S3 Sedan quattro', 'Z4 sDrive30i', 'TT Roadster 45 TFSI quattro', 'Macan S', 'Sorento AWD', 'TTS Coupe quattro', 'M8 Coupe Competition', 'M4 Competition Coupe M xDrive', 'Sienna', 'Sportage', 'Santa Fe Hybrid', 'QX80 4WD', 'Corolla Apex Edition', 'A6 allroad 55 TFSI quattro', 'Levante Trofeo', 'Ranger 4WD Tremor', 'CLA 250 4MATIC Coupe', 'AMG C 43 4MATIC Coupe', 'Levante GT', 'X4 M', 'Navigator 4X4', 'X6 M50i', 'Passport AWD', 'Continental GT Convertible', 'C 300 4MATIC Coupe', 'Outback Wilderness AWD', 'Range Rover P525', 'Huracan evo Spyder', '718 Cayman GTS 4.0', 'Grand Wagoneer 4X4', 'Q3 45 TFSI quattro', 'M850i xDrive Gran Coupe', 'Tiguan 4MOTION', 'A7 Sportback 55 TFSI quattro', 'IS 350 AWD', '718 Cayman GT4', 'Range Rover SVAutobiography LWB', 'M235i xDrive Gran Coupe', 'XC40 T4 AWD', 'X7 xDrive40i', 'AMG GLE 53 4MATIC+ Coupe', 'Maybach S 580 4MATIC Sedan', 'A5 Sportback 45 TFSI quattro', 'Chiron Pur Sport', 'Passat', 'Alpina B7', 'Continental GT Convertible Speed', 'Yukon XL (No Stop-Start)', 'Ascent AWD', 'F-150 Raptor 4X4', 'Corvette', 'A4 Sedan 40 TFSI quattro', 'Traverse', 'A5 Coupe 45 TFSI quattro', 'Giulia Quadrifoglio', 'M5 CS', 'Q60 AWD', 'A5 Cabriolet 45 TFSI quattro', 'Quattroporte Trofeo', 'G90 AWD', '911 Carrera 4 Cabriolet', 'F-150 Raptor 37 4X4', 'GR Supra 2.0', 'RS 5 Coupe quattro', 'F-TYPE P450 Convertible', 'Metris Cargo Van', 'V60 T6 AWD', 'XT4 AWD', 'Stelvio', 'Gladiator 4X4 Rubicon EcoDiesel', 'Blazer AWD', '430i xDrive Cabriolet', 'RAV4 AWD LE', 'M760i xDrive Sedan', 'MX-5', 'Silverado FFV', '718 Boxster GTS 4.0', 'Mazda3 5-Door', 'Suburban', 'Sierra 4WD Mud Terrain Tire (No DFM)', 'Chiron Super Sport', '530i xDrive Sedan', 'Kona AWD', 'Escape', 'Range Rover P525 LWB', 'NX 350h AWD', 'Range Rover Sport HST P400', 'Yukon', 'Crosstrek AWD', 'AMG E 53 4MATIC+ Coupe', 'Sentra', 'S5 Sportback quattro', 'Enclave', 'Challenger AWD', 'Huracan evo Spyder AWD', 'Charger', 'M440i xDrive Cabriolet', 'Mazda3 4-Door Turbo 4WD', 'CT5', 'Accord Sport/Touring', 'HR-V', 'IONIQ Blue', 'RAV4 (Stop/Start)', 'Niro FE', 'Silverado 4WD (No DFM)', 'Mazda3 4-Door 4WD', 'ProMaster City', '750Li xDrive Sedan', 'X5 M50i', 'RX 350 AWD', 'Phantom EWB', 'Sorento Hybrid AWD', 'LS 500h AWD', 'M8 Gran Coupe Competition', 'DB11 V8', 'GX 460', '750i xDrive Sedan', 'Ghost EWB', 'Alpina B8 Gran Coupe', 'Accord', 'Camry Hybrid SE/XLE/XSE', 'S60 B5', 'Ghibli Trofeo', 'Tiguan R-Line 4MOTION', 'X2 M35i', 'Silverado 4WD Custom Trail Boss', 'Pacifica AWD', 'Trax', 'X3 M', 'Range Rover P360', 'X4 xDrive30i', 'Tucson AWD', 'DB11 V12', 'A3 Sedan 40 TFSI quattro', 'Camry AWD XSE', 'Cayenne GTS', '911 Carrera 4', '911 Turbo', 'Sierra 4WD (No Stop-Start)', '1500 EcoDiesel', 'Sierra 4WD (With Sport Mode)', 'LC 500 Convertible', 'Encore GX', 'Q60 AWD Red Sport', '1500 HFE eTorque', 'Cooper S Clubman ALL4', 'Sierra 4WD Mud Terrain Tire (No Stop-Start)', 'Charger SRT Hellcat Widebody', 'Escalade 4WD', 'Cooper S Convertible', 'Santa Fe AWD', 'RS 6 Avant quattro', 'Highlander AWD', '300', 'Armada 4WD', 'Range Rover Sport P360', 'Aventador Roadster', 'A8 L Sedan 55 TFSI quattro', 'M3 Sedan', 'Acadia', '1500 4X4 TRX', 'K5 AWD', 'Ghost Black Badge', 'S5 Coupe quattro', 'Metris Cargo Van LWB', 'Corolla XLE', 'LS 500 AWD', 'Pathfinder 4WD', 'M4 Competition Cabriolet M xDrive', 'Wrangler JL 4X4 eTorque', 'Mazda3 4-Door (SIL)', 'MC20', 'Quattroporte Modena', 'XC40 T5 AWD', 'S6 Sedan quattro', 'RC 300 AWD', 'Explorer Timberline AWD (Without Stop-Start)', 'X6 xDrive40i', 'Ghibli Modena', 'Q7 45 TFSI quattro', 'Encore', 'Rogue AWD SL/Platinum', 'Tundra Hybrid 4WD', 'Levante Modena', 'TT Coupe 45 TFSI quattro', 'Alpina XB7', 'Bronco Black Diamond 4WD', 'Maverick AWD', 'Cayenne Turbo', 'Yukon XL 4WD (No Stop-Start)', '911 Turbo Cabriolet', 'Stelvio AWD Quadrifoglio', 'GLA 250 4MATIC SUV', 'Highlander Hybrid AWD', 'RS 7 Sportback quattro', 'Yukon 4WD (No Stop-Start)', 'G80 AWD', 'IONIQ', 'RAV4 AWD TRD Off-Road', 'GLE 450 4MATIC SUV', 'TLX Type S (Performance Tire)', 'C 300 4MATIC Cabriolet', 'Encore GX AWD', 'Cayenne GTS Coupe', 'F-TYPE P450 Coupe', 'Panamera 4 Executive', 'S 500 4MATIC SWB Sedan', 'M8 Cabriolet', 'F-TYPE R Coupe AWD', 'Camry XSE', 'RX 450h AWD', 'NX 350 AWD', 'Carnival', 'E 450 4MATIC Sedan', 'Ghost', 'Challenger SRT Hellcat', 'Tahoe', 'Taos 4MOTION', 'John Cooper Works Clubman ALL4', 'SQ5 Sportback quattro', 'QX55 AWD', 'Mazda3 5-Door Turbo 4WD', 'Sonata Hybrid', 'R8 Coupe Performance', 'Q5 40 TFSI quattro', 'Palisade AWD', 'AMG GT 53 4MATIC+ Coupe', 'CX-3', 'ES 300h', 'Q50 AWD', 'Eclipse Cross 4WD', 'Silverado 4WD Mud Terrain Tire FFV', 'Silverado 4WD ZR2', 'Odyssey', 'XC90 T5 AWD', 'Macan', 'SQ5 quattro', 'S8 Sedan quattro', 'TLX Type S', 'X5 xDrive40i', 'Camry Hybrid LE', 'Silverado 4WD Mud Terrain Tire (No DFM)', 'Grand Cherokee WK 4X4', 'Wrangler JL Unlimited 4X4 EcoDiesel', 'E 450 4MATIC Cabriolet', 'F-TYPE P450 Convertible AWD', 'X3 M40i', 'Trailblazer AWD', 'XC60 B6 AWD', 'M8 Coupe', 'Challenger Widebody (MDS)', '430i xDrive Coupe', 'Civic Sedan Si', 'RS Q8 quattro', 'Malibu', 'F-150 Tremor 4X4 (Without Stop-Start)', 'Envision AWD', 'Panamera Turbo S', 'SQ7 quattro', 'RAV4 Hybrid AWD', 'Challenger Widebody', 'Ghibli Modena AWD', 'Giulia AWD', 'R8 Coupe Performance quattro', 'Elantra (ISG)', 'Tundra 4WD TRD', 'Camry LE/SE', 'Defender 90 P400', 'X7 M50i', 'Corolla XSE', 'Renegade 4X4 Trailhawk'}

In [18]:
len(set(x_train["model"].values)-set(x_test["model"].values))

311

In [19]:
one = OneHotEncoder(sparse=False)

In [20]:
x_train.iloc[:,:5]

,make,model,vehicle_class,transmission,fuel
857,Subaru,Impreza 5-Door AWD,Station wagon: Small,M5,X
594,Lexus,LS 500 AWD,Mid-size,AS10,Z
708,MINI,Cooper S Convertible,Minicompact,AM7,Z
264,Dodge,Challenger SRT Hellcat,Mid-size,A8,Z
452,Hyundai,Elantra,Mid-size,AM7,X
...,...,...,...,...,...
658,Mercedes-Benz,AMG C 43 4MATIC Coupe,Subcompact,A9,Z
578,Land Rover,Range Rover Sport P360,SUV: Standard,AS8,Z
728,Nissan,Kicks,Mid-size,AV,X
391,GMC,Sierra 4WD,Pickup truck: Standard,A8,X
20,Audi,A4 Sedan 40 TFSI quattro,Compact,AM7,Z

In [21]:
x_dup =pd.DataFrame(one.fit_transform(x_train.iloc[:,:5]),columns=one.get_feature_names_out())
x_dup

C:\Users\teja1\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,make_Acura,make_Alfa Romeo,make_Aston Martin,make_Audi,make_BMW,make_Bentley,make_Bugatti,make_Buick,make_Cadillac,make_Chevrolet,...,transmission_AV6,transmission_AV7,transmission_AV8,transmission_M5,transmission_M6,transmission_M7,fuel_D,fuel_E,fuel_X,fuel_Z
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
472,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [22]:
x_train.drop(columns=["make","model","vehicle_class","transmission","fuel"],inplace=True)

In [23]:
x_train.reset_index(drop="first",inplace=True)
x_train

     engine  cylinder  co2  smokerating
0       2.0         4  211            7
1       3.4         6  270            5
2       2.0         4  182            7
3       6.2         8  339            1
4       1.6         4  179            5
..      ...       ...  ...          ...
468     3.0         6  252            5
469     3.0         6  269            7
470     1.6         4  169            7
471     2.7         4  306            6
472     2.0         4  190            5

[473 rows x 4 columns]

In [24]:
x_dup.reset_index(drop="first",inplace=True)

In [25]:
x_train = pd.concat([x_train,x_dup],axis=1)
x_train

,engine,cylinder,co2,smokerating,make_Acura,make_Alfa Romeo,make_Aston Martin,make_Audi,make_BMW,make_Bentley,...,transmission_AV6,transmission_AV7,transmission_AV8,transmission_M5,transmission_M6,transmission_M7,fuel_D,fuel_E,fuel_X,fuel_Z
0,2.0,4,211,7,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3.4,6,270,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2.0,4,182,7,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,6.2,8,339,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.6,4,179,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,3.0,6,252,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
469,3.0,6,269,7,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
470,1.6,4,169,7,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
471,2.7,4,306,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
472,2.0,4,190,5,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
y_train

857     9.0
594    11.2
708     7.8
264    14.5
452     7.6
       ...
658    10.8
578    11.4
728     7.2
391    13.1
20      8.2
Name: consumption, Length: 473, dtype: float64

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
regressor = RandomForestRegressor()

In [29]:
regressor.fit(x_train,y_train)

RandomForestRegressor()

In [30]:
regressor.score(x_train,y_train)

0.9969318189628216

In [31]:
x_test

,make,model,vehicle_class,transmission,fuel,engine,cylinder,co2,smokerating
623,Maserati,Levante Modena V8,SUV: Standard,A8,Z,3.8,8,349,1
176,Chevrolet,Camaro,Subcompact,AS10,X,3.6,6,251,6
904,Toyota,Sequoia 4WD,SUV: Standard,AS6,X,5.7,8,385,5
345,Ford,Mustang,Subcompact,AS10,X,5.0,8,298,3
544,Kia,Seltos,SUV: Small,AV8,X,2.0,4,182,5
...,...,...,...,...,...,...,...,...,...
70,Bentley,Flying Spur,Mid-size,AM8,Z,4.0,8,323,3
189,Chevrolet,Colorado ZR2 4WD,Pickup truck: Small,A8,X,3.6,6,329,6
310,Ford,F-150,Pickup truck: Standard,AS10,X,2.7,6,256,6
381,GMC,Canyon,Pickup truck: Small,A8,X,3.6,6,263,6
720,Mitsubishi,RVR,SUV: Small,AV6,X,2.0,4,206,5

In [32]:
joblib.dump(regressor,"regressor.pkl")

['regressor.pkl']

In [34]:
oneA = OneHotEncoder(sparse=False)

In [ ]:
x_dup =pd.DataFrame(one.fit_transform(x_train.iloc[:,:5]),columns=one.get_feature_names_out())
x_dup

In [35]:
test_temp =pd.DataFrame(oneA.fit_transform(x_test.iloc[:,:5]),columns=oneA.get_feature_names_out())

C:\Users\teja1\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [36]:
x_test.drop(columns=["make","model","vehicle_class","transmission","fuel"],inplace=True)

In [37]:
x_test.reset_index(drop="first",inplace=True)
x_test

     engine  cylinder  co2  smokerating
0       3.8         8  349            1
1       3.6         6  251            6
2       5.7         8  385            5
3       5.0         8  298            3
4       2.0         4  182            5
..      ...       ...  ...          ...
468     4.0         8  323            3
469     3.6         6  329            6
470     2.7         6  256            6
471     3.6         6  263            6
472     2.0         4  206            5

[473 rows x 4 columns]

In [38]:
test_temp.reset_index(drop="first",inplace=True)

In [39]:
test_temp

,make_Acura,make_Alfa Romeo,make_Aston Martin,make_Audi,make_BMW,make_Bentley,make_Bugatti,make_Buick,make_Cadillac,make_Chevrolet,...,transmission_AV6,transmission_AV7,transmission_AV8,transmission_M5,transmission_M6,transmission_M7,fuel_D,fuel_E,fuel_X,fuel_Z
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [40]:
x_test = pd.concat([x_test,test_temp],axis=1)
x_test

,engine,cylinder,co2,smokerating,make_Acura,make_Alfa Romeo,make_Aston Martin,make_Audi,make_BMW,make_Bentley,...,transmission_AV6,transmission_AV7,transmission_AV8,transmission_M5,transmission_M6,transmission_M7,fuel_D,fuel_E,fuel_X,fuel_Z
0,3.8,8,349,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,3.6,6,251,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5.7,8,385,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,5.0,8,298,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2.0,4,182,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,4.0,8,323,3,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
469,3.6,6,329,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
470,2.7,6,256,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
471,3.6,6,263,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
472,2.0,4,206,5,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [42]:
x_train.shape

(473, 498)

In [43]:
x_test.shape

(473, 486)

In [45]:
498-486

12

In [46]:
final_model = joblib.load("regressor.pkl")
final_model

RandomForestRegressor()

In [47]:
final_model.predict(x_test)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- model_1500
- model_1500 4X4
- model_1500 4X4 EcoDiesel
- model_1500 4X4 eTorque
- model_1500 Classic 4X4
- ...
Feature names seen at fit time, yet now missing:
- make_FIAT
- model_1500 4X4 TRX
- model_1500 EcoDiesel
- model_1500 HFE eTorque
- model_300
- ...

In [1]:
pwd

'C:\\Users\\teja1\\Documents'